body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #033663;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar header {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar h1 {
    font-size: 1.5em;
    margin: 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form input, .form select, .form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    flex: 1;
    margin-bottom: 10px;
}

.form input[type="number"] {
    -moz-appearance: textfield;
}

.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form button {
    background-color: #008C73;
    color: white;
    border: none;
    cursor: pointer;
}

.main-content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.save-button {
    background-color: #008C73;
    color: white;
}

.load-button {
    background-color: #033663;
    color: white;
}

.export-button {
    background-color: #007bff;
    color: white;
}

.org-chart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.category-row {
    display: flex;
    gap: 20px;
}

.org-chart .category {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
}

.org-chart .category strong {
    color: #033663;
}

.org-chart .unit, .org-chart .drawer, .org-chart .item {
    margin-left: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: black;
}

.drawer-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-button, .delete-item-button {
    background-color: transparent;
    color: #ff6347; /* Tomato color */
    border: 1px solid #ff6347; /* Tomato color */
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover, .delete-item-button:hover {
    background-color: #ff6347; /* Tomato color */
    color: white;
}

#toggle-table {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#toggle-icon {
    font-size: 1.2em;
}

.fa-cube, .fa-drawer {
    margin-right: 5px;
}

.drawer-name {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.unit-total, .drawer-total {
    float: right;
    margin-left: 20px;
    font-weight: normal; /* Rimuove il grassetto */
}

#load-file {
    display: none;
}

.material-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.material-popup-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 90vh;
}

.material-popup-content h2 {
    color: #033663;
}

.material-popup-content .close {
    color: #033663;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#material-table td, #material-table th {
    white-space: nowrap;
}

#material-table td {
    background-color: #ffffff;
    color: #000000;
}

#material-table th {
    background-color: #f4f4f4;
    color: #033663;
}

.swal2-popup {
    max-width: 90%;
    width: 1000px; /* Aumenta la larghezza del popup */
    max-height: 90vh; /* Aumenta l'altezza massima del popup */
}

.swal2-popup .swal2-content {
    overflow-x: auto;
}

#summary-table {
    margin-top: 20px;
}

#summary-table tfoot td {
    font-weight: normal;
}

.table-container-collapsed {
    display: none;
}

.delete-item-button {
    background-color: transparent;
    color: #ff6347;
    border: 1px solid #ff6347;
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-item-button:hover {
    background-color: #ff6347;
    color: white;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.save-button {
    background-color: #008C73;
    color: white;
}

.load-button {
    background-color: #033663;
    color: white;
}

.export-button {
    background-color: #007bff;
    color: white;
}

#search-material {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
